main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(0, 0, 0); */
    /* height: 100vh; */
}
.Perfil-container{
    height: 90vh;
}
.box1{
    width: 500px;
    background-color: aqua;
    display:flex ;
    border-radius: 10px;
    align-items: center;
    padding: 30px 0px 30px 112px;
    margin-bottom: 15px;
}
.box1 .imgPerfil{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    transform: translate(-124px, -59px);
    position: absolute;
    border: solid 6px;
}
.box2{
    /* width: 500px; */
    height: 180px;
    background-color: rgb(123, 255, 0);
    /* display:flex ; */
    border-radius: 10px;
    text-align: start;
}
.info1{
    transform: translate(50px);
    background-color: blue;
    height: 90px;
    width: 300px;
    
}
.info2{
    transform: translate(50px);
    background-color: blue;
    height: 90px;
    width: 300px;
}