:root{
    --tam :150px;

}
.desap{
    display: none;
}
.drop{
    display: flex;
    justify-content: center;
    width: var(--tam);
}

.dropdownmenu {
    position: absolute;
    width: fit-content;
    display: none;
    background-color: #292535;
    padding: 0px 10px;
    border-radius: 0 0px 10px 0;
    font-size: x-large;
    /* z-index: 1000; */
    /* border: #292535 2px solid; */
    /* height: 90vh; */
    transform: translate(6%, 0%);
    z-index: 5;

}

.drop:hover .dropdownmenu {
    display: block;
}
.dropdownmenu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 5px;
    text-align:start;
    display: flex;
    justify-content: start;
}
.dropdownmenu a:hover {
    background-color: #171621;
    border-radius: 6px;
}
#imgbarle01{
height: 32px;
padding: 10px 0;
}