main {
  height: 90vh;
  align-items: center;
  text-align: center;
  color: #595959;
}

.blocoesquerdo {
  width: 220px;
  max-height: fit-content;
  min-height: 550px;
  background-color: #2E293D;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.bloquinho {
  background-color: #C9C9C9;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 19px;
  margin-bottom: 10px;
  font-weight: bold;
  width: 160px;
}

.blocodireito {
  width: 600px;
  height: 550px;
  background-color: #C9C9C9;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 45px;
  color: #676565;
  text-align: left;
  font-weight: bold;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
  max-height: fit-content;
}

.inputTitulo {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: none;
  font-size: 40px;
  font-family: Arial, sans-serif;
  background-color: #C9C9C9;
  color: #333;
  outline: none;
  transition: border-color 0.3s;
}

.inputDescricao {
      width: 97%;
  height:70%;
  padding: 10px;
    border: none;
    border-radius: 11px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  background-color: #A8A3B8;
  color: #333;
  /* outline: none; */
  transition: border-color 0.3s;
  /* margin: 2% 0; */
}

.inputDesc::-webkit-scrollbar {
  width: 15px;
}

.inputDesc::-webkit-scrollbar-track {
  background-color: #A8A3B8;
  border-radius: 11px;
}

.inputDesc::-webkit-scrollbar-thumb {
  background-color: #333;
    border-radius: 11px;
}
.inputDesc::-webkit-scrollbar-thumb:hover{
  cursor:grabbing;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.7;
  color: #676565;
}

.botao1 {
  width: 75px;
  height: 75px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 100%;
  border: none;
  background-color: #20a38b;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  right: -199px;
  bottom: -562px;
  translate: 330px -697px;
}

.botao1 {
  background-color: #90C7EE;
}

.btn_del {
  background-color: red;
  width: 35px;
}

.btn_edt {
  background-color: rgb(210, 113, 38);
  width: 35px;
}
.btn_fav {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #bbb;
  transition: color 0.2s;
}
.btn_fav.favorito {
  color: gold;
}
.textosucesso{
  position: absolute;
  font-size: 7px;
  color: rgb(0, 0, 0);
  padding: 10px;
  transform: translate(310px, -240px);
}